.material-icons { 
    font-size: 48px !important; 
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


input[type=range]::-webkit-slider-thumb {
    background-color: #673ab7;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #673ab7;
  }
  input[type=range]::-ms-thumb {
    background-color: #673ab7;
  }
  input[type=range] + .thumb {
    background-color: #dedede;
  }
  input[type=range] + .thumb.active .value {
    color: #673ab7;
  }